.main{
    /* display: flex; */
    margin-top: -60px ;
    /* margin-left: -100px; */
    height: 500px;
    width: 1000px;
    color: black;
    background-color: white;
}
.container{
    display: flex;
    
}
.header{
    margin-top:70px;
    background-color: aqua;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left{
    height: 400px;
    /* background-color: aqua; */
    width: 50%;
    
}
.image{
    margin-top: 50px;
    height: 300px;
    width: 300px;
}
.right{
    
    height: 400px;
    text-align: start;
    width: 55%;
    /* background-color: blueviolet; */
}
.info{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 300px;
    /* gap: 20px; */
    margin-top: 50px;
}